:root {
    --white: #f7f9f9;
    --light-blue: #2081c3;
    --dark-blue: #0a2c42;
    --grey: #bfbfbf;
    --font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--light-blue);
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: var(--white)
}

.beer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.beer-container .image-container {

}

.beer-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


footer {
    background-color: var(--dark-blue);
    color: var(--white);
    height: fit-content;
    padding: 1rem;
}

footer p {
    margin: 0
}